# twinBASIC
*.twinproj
Build/
Source/Build/
Source/Packages/

# Access
*.accdb
*.accde
*.laccdb
samples/*.exe
samples/*.ico
vcs-index.json
**/logs/*.log

# Windows
Thumbs.db
desktop.ini

# IDE
.vs/
*.user

# Claude Code
.claude/
